Web programming(Java)/Term01(Glassfish)/Labs/Lab_04/Lab_03/xml/data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="BankAccount">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="type"/>
                <xs:element type="xs:string" name="status"/>
                <xs:element type="xs:int" name="id"/>
                <xs:element type="xs:string" name="fio"/>
                <xs:element name="listCard">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CreditCard" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:int" name="numberCard"/>
                                        <xs:element type="xs:string" name="fioCard"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="DebitCard">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:int" name="numberCard"/>
                                        <xs:element type="xs:string" name="fioCard"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>